.bar1 {
  fill: #e06b3d;
}

.bar2 {
  fill: #8c7f7a;
}

.bar1:hover {
  fill: brown;
}

.bar2:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}